 
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    
    }
main{
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgb(245, 245, 245);
    }    
    
   /* Début du Header */

   /* Début du Navbar */

nav{
    width: 100%;
    height: 70px;
    background-color: #12641d;
    display: flex;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
   }

 .Navlines{
     width: 2px;
     height: 16px;
     background-color: #dd1212;
        }
 
 .links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 150px;
         }

    
.links ul{
    display: flex;
    margin-left: 0px;
    padding-inline-start: 10;
    width: 100%;
    justify-content: space-between;
           }

.links ul li{
    list-style: none;   
    padding: 0 5px;
            }
    
.links ul li a{
    text-decoration: none;
    color: white;
    margin-right: 18px;
           }
.DivMenu{
    display: none;
        
        }




                /* Fin du Navbar */

                                             /* Page1 */

.Entrainement-Img{
    position: relative;
    width: 100%;
    
                 }  

.Entrainement-titre{
    color: #fff;
    position: absolute;
    top: 50%;
    
                   }

.Grid1{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto ;
        }

.Infos{
    line-height: 1.6;
        }

.SoudMar{  
    display: flex;
    line-height: 1.6;
    word-spacing: 30px;
    justify-content: space-around;
    align-items: center;
        }

.Soud{
    padding-right: 10px;
    padding-left: 10px;
    }

.Match1{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    word-spacing: 20px;
    border-bottom: 1px solid #e0e9f7;
        }

.Match2{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    word-spacing: 20px;
    border-bottom: 1px solid #e0e9f7;
       }
.Match3{
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    word-spacing: 20px;
    border-bottom: 1px solid #e0e9f7;
       }
.Compétitions{
    padding: 10px 0px;
    display: flex;
    align-items: center;
            }

.Comp-Img{
    padding-right: 5px;
            }

.Actu{
    display: flex;
    align-items: center;
     }

.Actu-Img{
    padding-right: 5px;
        }

table{
    border-collapse:separate;
    float: center;
    }

th,td{
    border: 1px solid black;
    padding: 10px;
    }






                                                /* Page2 */

.Grid2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto ;
       }

.ImgEtTexte{
    text-align: center;
    }
.PicEtTitre4{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}





                                                  /* Page3 */


.Grid1{
    display: grid;
    grid-template-columns: auto auto;
    }

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
                }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 70px 100px;
                }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 13px;
            }

.circle{
    margin:10px;
    width:60px;
    background:#15ff00;
    height:60px;
    text-align:center;
    border-radius:100px;
    line-height: 25px;
    font-size: 20px;
        }

.VV{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: start;
    margin-left: 30px;
    margin-bottom: 30px;

    }

.PicEtTitre3{
    display: flex;
    align-items: center;
    padding: 10px 0px;

            }

.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 70px 100px;
                }
    
 
                                            /* Page4 */

                                             
.PicEtTitre4{
    display: flex;
    align-items: center;
    padding: 10px 0px;
            }
.Pic{
    width: 5%;
    padding-right: 7px;  
    }
.BorderPage4{
    border-bottom: 3px solid #e0e9f7;
            }      

.container {
    position: relative;   
        }
  
.image {
    display: block;
    width: 100%;
    height: 100%; 
        }
  
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8); 
    color: #f1f1f1; 
    width: 89.5%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
            }
  
.container:hover .overlay {
    opacity: 1;
                            }
.gard{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto auto;
    }

.DivSelec{
display: flex;
align-items: center;
flex-direction: column;
        }

.DivSelec ul li{
    list-style: none;   
    padding: 0 5px;   
              }
.Hali   {
    width: 100%;             
    padding: 10px;
    border: 1px solid #82868b;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
        }  

                                                 /* Footer */

.Foot{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 30px;
    background-color: rgb(186 13 13 / 84%);
    font-family: sans-serif;
    

    }

 .Foot1, .Foot2{
    padding: 0px 20px ;
    width: 280px;
    height: auto;
    
                }
  .Foot2{
      color: #f1f1f1;
  }          
  
  .Foot2 h3{
      color: black;
  }
 .Foot1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
        }

 .Foot1 :hover{
     color: rgb(29, 28, 28);
     font-size: 20px;
                }

 button{
    float: right;
    height: 60px;
    width: 40%;
    padding: 0px;
    border: none;
    border-radius: 8px;
    background-color: black;
    text-transform: uppercase;
    font-weight: bold;  
    color: white;
    cursor: pointer;
        }
::placeholder{
    font-size: 0.75rem;
    font-weight: lighter;
    font-family: sans-serif;
    font-style: italic;
    color: #000000;
            }

input{
    margin: 7px 0px;
    border-radius: 6px;
    border-color: #000000;
    background-color: transparent;
    width: 100%;
    height: 57px;
    padding: 12px 15px;
    border: 2px solid #080808;
    box-sizing: border-box;
    }

.Copyright{
    background-color: rgb(212, 18, 18);;
    margin:auto;
    text-align: center;
            }
            













                                /* Media Query */

              
@media (max-width:900px) and (min-width:400px) {



                            /* Début du Menu */
.links ul li a{
    display: none;
}
.Navlines{
    display: none;
}


.DivMenu {

    display: flex;
    width: 100px;
    display: block;


        }

.Menu {

    color: white;           
    border: none;
    width: 100%;           
        }
.MenuImg{
    width: 100%;
    cursor: pointer;

        }

.linksMedia {
    display: none;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: rgb(15, 143, 43);
    width: 100%;
    z-index: 1;
}

.linksMedia a {
    color:#030303;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
}
  
.linksMedia a:hover {
    background-color: #ddd;
                        }

.DivMenu:hover .linksMedia {
display: block;
                            }

                                    /* Fin du Menu */
.Grid1{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto ;

    }

.Grid2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto ;
    }

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
                }

.grid-container2{
    display: grid;
    grid-template-columns: auto auto;
                }

.gard{
    display: grid;
    grid-template-columns: auto auto;
     }

.links{
    padding: 42px;
    display: flex;
    width: 100%;
    justify-content: space-between;
      }

nav{
    width: 100%;
    height: 50px;
    background-color: #12641d;
    display: flex;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;       
     }

.PicEtTitre2{
    
    display: flex;
    
            }
     


     
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8); 
    color: #f1f1f1; 
    width: 75%;
    
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 10px;
    padding: 20px;
    text-align: center;
        }

.Foot{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto ;
    justify-content: center;
        }

.Entrainement-titre{
    color: #fff;
    position: absolute;
    top: 26%;
    font-size: 10px;
    text-align: center;  
    
                   }
                            }